@import "./mixin";

.con-top {
  background: #a3a3a3;
  height: 51px;
  display: flex;
  align-items: center;
  position: relative;
  .con-col {
    margin-left: 20px;
    .con-col-item {
      display: inline-block;
      padding: 7px 40px;
      margin-left: 10px;
      border-radius: 5px;
      color: #e2dcdc;
      cursor: pointer;
      background: #9b9090;
      border-color: #9b9090;
    }
    .con-col-active {
      background: #605d5d;
      border-color: #605d5d;
      color: #fff;
    }
    .drop-down {
      .el-button--primary {
        background: #9b9090;
        border-color: #9b9090;
      }
    }
    .drop-down-active {
      .el-button--primary {
        background: #605d5d;
        border-color: #605d5d;
      }
    }
    .con-top-back {
      background: #ff5d00;
      color: #fff;
      padding: 5px 50px;
      border-radius: 3px;
      text-decoration: none;
      cursor: pointer;
    }
    .con-top-title {
      color: #fff;
      font-weight: bold;
    }

  }

  .con-right-btn {
    display: inline-block;
    background: #ff5d00;
    padding: 5px 30px;
    float: right;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: #fff;
  }

  .search {
    width: 150px;
    /*height: 25px;*/
    margin: 0 auto;

  }

  .page {
    text-align: center;
    margin-top: 30px;
  }

  .el-button {
    padding: 10px 20px;
    width: 150px;
  }
  .el-input__inner:focus {
    border-color: #ccc !important;
  }
}

.con {
  padding: 30px;
}

.con-table {
  color: #756f6f;
  table {
    padding: 20px;
    width: 100%;
    tr {
      th {
        @include table-tr;
        text-align: center;
        font-size: 14px;
      }
      td {
        @include table-tr;
        text-align: center;
        overflow: hidden;
        font-size: 14px;
      }
      .td-op {
         button {
           margin: 0 3px;
           font-size: 14px;
           //width: 75px;
           border-radius: 5px;
           border: 0;
           padding: 3px 20px;
           color: #fff;
           cursor: pointer;
         }
      }
    }
    .border-bottom {
      border-bottom: 1px solid #ccc;
    }
  }
}

.con-page {
  text-align: center;
  margin-top: 30px;
}

.dot:after {
  content: ' · ';
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
}