// 右侧container部分顶部样式
@mixin top-box {
  background: #a3a3a3;
  height: 51px;
}

// 表格tr边距
@mixin table-tr {
  padding-top: 10px;
  padding-bottom: 10px;
}

// 表格按钮
@mixin table-button {
  width: 75px;
  border-radius: 5px;
  border: 0;
  padding: 3px 0;
  color: #fff;
  cursor: pointer;
}